<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.henallux.khal.smartcity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_agend_nam"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_agend_nam_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewInscription"
            android:label="@string/inscription"
            android:parentActivityName=".activity.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.CategoriesActivity"
            android:label="@string/categories"
            android:parentActivityName=".activity.MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".activity.ResultSearchActivity"
            android:label="@string/result"
            android:parentActivityName=".activity.CategoriesActivity" />
        <activity
            android:name=".activity.EventActivity"
            android:label="@string/result"
            android:parentActivityName=".activity.ResultSearchActivity" />
        <activity
            android:name=".activity.ParticipationAvtivity"
            android:label="@string/title_activity_participation_avtivity"
            android:parentActivityName=".activity.CategoriesActivity" />
        <activity
            android:name=".activity.SearchByDateActivity"
            android:label="@string/searchByDate"
            android:parentActivityName=".activity.CategoriesActivity" />
        <activity
            android:name=".activity.CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName=".activity.EventActivity">
        </activity>
    </application>

</manifest>